@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  width: 100%;
  height: 100vh;

  background-color: #010101;

  app-region: drag;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
}

@layer components {
  .drag {
    app-region: drag;
  }

  .no-drag {
    app-region: no-drag;
  }
}
